<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsusuariosSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.uttt.edu.mx/WS_Usuarios/wsusuarios.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsusuariosSoap"
                contract="ServiceClient.wsusuariosSoap" name="wsusuariosSoap" />
        </client>
    </system.serviceModel>
</configuration>