@using AppDigitalCv.Security
@model AppDigitalCv.ViewModels.CompetenciaTiVM
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="bs-container content" style="min-height:960px;">
        <section class="content-header">
            <h1>
                Competencias en TI
                <small>(Agregar)</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
                <li> <a href="#"> Competencias</a></li>
                <li class="active"> Competencias en TI </li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h5 class="box-title">
                            <label class="text-success emailtitleletter">
                                <i class="text-success fa fa-graduation-cap"></i>
                                @SessionPersister.AccountSession.NombreCompleto
                            </label>
                        </h5>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <div class="box-body">
                        <div role="form" class="form-inline">
                           

                            <div class="form-group">
                                <ul class="list-group">
                                    @foreach (var item in ViewBag.Competencias)
                                    {
                                        <li class="list-group-item">
                                            <div class="checkbox">
                                                <input type="checkbox" id="Check_@item.IdCompetenciaTI" />
                                                <label for="Check_@item.IdCompetenciaTI">@item.StrDescripcion
                                                    <span class="text-green"><i class="fa fa-tag"></i></span>
                                                </label>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}