@model AppDigitalCv.ViewModels.PersonalVM
@using AppDigitalCv.Security

<div>
    <form id="myForm" enctype="multipart/form-data">

        @Html.HiddenFor(model => model.idPersonal)

        <div class="bs-container">

            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="form-group">
                        <label>Semblanza:</label>
                        @Html.TextAreaFor(model => model.strLogros, new { @class = "form-control input-sm", id = "logros" })
                    </div>
                    <div class="form-group">
                        <a href="#" id="btnSubmit" class="btn btn-sm btn-success"><span><i class=""></i>Actualizar Datos</span></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>

     $("#logros").bind('keypress', function (e) {

        var regex = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ.,?¿ ]$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {

            toastr.warning("Solo se Admiten Cadenas de Texto.");
            e.preventDefault();
            return false;

        }
    });

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            let strSemblanza = $('#logros').val();

            if (strSemblanza != "") {

                let PersonalVM = {};

                PersonalVM.idPersonal = $('#idPersonal').val();
                PersonalVM.strLogros = strSemblanza;

                $.ajax({
                    type: "POST",
                    url: "/Personal/UpdateSemblanza",
                    data: { personalVM: PersonalVM },
                    success: function () {
                        window.location.href = "/Personal/Create";
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(textStatus);
                        console.log(textStatus);
                    }
                })

            } else
            {
                toastr.warning('No Puedes Dejar Campos Vacios', 'Digital-Cv dice', { timeOut: 1000, closeButton: true });
            }
        });
    });
</script>




