@model AppDigitalCv.ViewModels.PersonalVM


    @*<div class="row">*@
    <div>
        <div role="form" >
                        <form id="myform">
                            @Html.HiddenFor(m => m.idPersonal)
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="etNombre">Nombre:</label>
                                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @placeholder = "Nombre" })
                                </div>
                                <div class="form-group">
                                    <label for="etNombre">Apellido Paterno:</label>
                                    @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @placeholder = "Apellido Paterno" })
                                </div>
                                <div class="form-group">
                                    <label for="etNombre">Apellido Materno:</label>
                                    @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @placeholder = "Apellido Materno" })
                                </div>
                                <div class="form-group">
                                    <a href="#" id="btnSubmit" class="btn btn-success">@if (Model.idPersonal > 0){
                                            <span>Actualizar</span>}else{<span>Guardar</span>}
                                    </a>
                                </div>
                            </div>
                        </form>
        </div>       
     </div>
    @*</div>*@
           
    <div style="text-align:center;display:none" id="lodaerDiv">
        <img src="~/Imagenes/material-loader.gif" width="100"/>
    </div>

@*<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            $("#loaderDiv").show();

            var myformdata = $("#myForm").serialize();

            $.ajax({

                type: "POST",
                url: "/Personal/DatosPersonales",
                data: myformdata,
                success: function () {
                    $("#loaderDiv").hide();
                    $("#myModal").modal("hide");
                    window.location.href = "/Test/Index";

                }

            })
        })

    })


</script>*@