@model AppDigitalCv.ViewModels.PersonalVM
<link href="~/Content/css/cardview.css" rel="stylesheet" />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="bs-container">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 animated">
               <div class="box box-primary">
                   <div class="box-header with-border">
                       <h3 class="box-title">Datos Generales</h3>
                   </div>
                   <div role="form">
                       <div class="box-body">
                           <div class="form-group">
                               <label for="etNombre">Nombre:</label>
                               <input type="text" class="form-control" id="txtNombre" placeholder="Tu Nombre">
                           </div>
                           <div class="form-group">
                               <label for="etApellidoPaterno">Apellido Paterno:</label>
                               <input type="text" class="form-control" id="txtApellidoPaterno" placeholder="Tu Apellido Paterno" title="Tu apellido Paterno">
                           </div>
                           <div class="form-group">
                               <label for="exampleInputPassword1">Apellido Materno:</label>
                               <input type="text" class="form-control" id="txtApellidoMaterno" placeholder="Apellido Materno" title="tu apellido materno">
                           </div>
                           <div class="form-group">
                               <label for="exampleInputFile">Cargar Foto:</label>
                               <input type="file" id="fotoInputFile">

                               <p class="help-block">Carga tu fotografía, para tu perfil.</p>
                           </div>
                           <div class="checkbox">
                               <label>
                                   <input type="checkbox">Recordarme
                               </label>
                           </div>
                       </div>
                       <div class="box-footer">
                           <button type="submit" class="btn btn-primary">Guardar</button>
                       </div>
                   </div>
               </div>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="row">
                   <div class="box box-info">
                            <div class="box-body box-profile">
                                <img alt="User profile picture" src="~/Imagenes/anonimo_perfil.jpg" class="profile-user-img img-responsive img-circle">
                                <h3 class="profile-username text-center">User Admin.</h3>
                                <p class="text-muted text-center">Ingeniero en Software.</p>
                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item">
                                        <b>A tu perfil le falta un detalle</b>
                                        <a class="pull-right"><span class="glyphicon glyphicon-camera"></span></a>
                                    </li>
                                    <li class="list-group-item">
                                        Añade una foto de inicio de perfil para completar tu información.
                                        <a class="pull-right"><span class="fa fa-file-photo-o"></span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#" class="btn btn-linkedin"><span class="fa fa-user-plus"></span> Sigue a tus colaboradores</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                </div>
                
                
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <h4>PersonalVM</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@