@using AppDigitalCv.Security
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <noscript>
        <meta http-equiv="refresh" content="0;URL=@Url.Action("NoScript","Error")" />
    </noscript>
@using (Html.BeginForm("","",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="bs-container" style="min-height: 960px;">
        <section class="content-header">
            <h1>
                Datos Personales
                <small>Modificar RFC, Curp</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Inicio</a></li>
                <li><a href="#">Edición</a></li>
                <li class="active">Datos Personales</li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <!--box-primary-->
                    <div class="box-header ">
                        <!--with-border-->
                    </div>
                    <div class="form-group-sm">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <table id="myDataTablePersonal" border="1" style="width: 100%; border:solid 1px #428BCA; border-collapse: collapse;" class="table table-hover">
                                        <thead class="table table table-condensed table-bordered table-responsive table-hover" style="color:white; background-color:#428BCA; font-size:10px;">
                                            <tr>
                                                <th><i class="fa fa-user"></i>&nbsp;Nombre</th>
                                                <th><i class="fa fa-tag"></i>&nbsp; Apellido Paterno</th>
                                                <th><i class="fa fa-tag"></i>&nbsp; Apellido Materno</th>
                                                <th><i class="glyphicon glyphicon-pencil"></i>&nbsp;Actualizar</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <div class="modal fade" id="myModal1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header" style="background-color:#3C8DBC;color:white;">
                                                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                                                    <h5 class="modal-title"><label style="font-size:medium;">Datos Personales</label></h5>
                                                </div>
                                                <div class="modal-body" id="myModalBodyDiv1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/toastr.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script>

        var AddUpdate = function (idPersonal) {
      
            var url = "/Personal/GetPersonalUpdate?_idPersonal=" + idPersonal;
            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");

            })

        };

        $(document).ready(function () {

            BindDataTable();

             function BindDataTable() {

                if ($.fn.DataTable.isDataTable('#myDataTablePersonal')) {
                    oTable.Draw();
                }
                else {
                    oTable = $('#myDataTablePersonal').DataTable({
                        "bServerSide": true,
                        "sAjaxSource": '/Personal/ConsultarDatosPersonal',
                        "fnServerData": function (sSource, aoData, fnCallback) {
                            $.ajax({
                                type: "Get",
                                data: aoData,
                                url: sSource,
                                success: fnCallback
                            })
                        },
                        "pageLength": 5,
                        "paging": true,
                        "language": {

                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        },
                        "dataSrc": "",
                        "columns": [

                            { "data": "Nombre" },
                            { "data": "ApellidoPaterno" },
                            { "data": "ApellidoMaterno" },
                            {
                                "data": "idPersonal",
                                "render": function (idPersonal, type, full, meta) {

                                    return '<a href="#" onclick="AddUpdate(' + idPersonal + ')"><i class="btn btn-sm btn-success fa fa-pencil-square-o"></i></a>'
                                }
                            },
                        ]
                    });
                }
            }



        });
    </script>

}
