@model AppDigitalCv.ViewModels.PresentacionPonenciasVM
@using AppDigitalCv.Security
    <noscript>
        <meta http-equiv="refresh" content="0;URL=@Url.Action("NoScript","Error")" />
    </noscript>
@using (Html.BeginForm("Create", "PresentacionConferencias", FormMethod.Post, new { name = "myForm", id = "myForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="bs-container" style="min-height:960px;">
        <section class="content-header">
            <h1>
                Presentaciones de Ponencias
                <small>(Agregar)</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
                <li> <a href="#">Agregar</a></li>
                <li class="active">Presentaciones</li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Nombre de la Ponencia:</label>
                                        @Html.TextBoxFor(model => model.strNombre, null, new { @class = "form-control input-sm",id="nombre" })
                                    </div>
                                    <div class="form-group">
                                        <label>Institución y/o Lugar donde se Presento:</label>
                                        @Html.TextBoxFor(model => model.strLugarInstitucionPresento, null, new { @class = "form-control input-sm",id="lugar" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Año de Presentación:</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.TextBoxFor(model => model.strAño, new { @class = "form-control input-sm pull-rigth datepicker", required = "required", title = "",id="año" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="submit" id="btnGuardar" value="Guardar Información" class="btn btn-sm btn-success" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="input-sm">
            <!-- Agregamos la tabla de forma dinamica  style="display:none" -->
            <div class="form-group" id="addTable">
                <br />
                <table id="tblPonencias" border="1" style="width: 100%; border:solid 1px #428BCA; border-collapse: collapse;" class="table table-responsive">
                    <thead class="" style="color:white; background-color:#428BCA; font-size:10px;">
                        <tr>
                            <th>Nombre</th>
                            <th>Lugar de Presentación</th>
                            <th>Acciones</th>

                        </tr>
                    </thead>
                    <tbody id="tblBody"></tbody>
                </table>
                <!-- Establecemos el Modal que se va a presentar cuando demos click en la edicion de los datos-->
                <div class="modal fade" id="myModal1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color:#3C8DBC;color:white;">
                                <a href="#" class="close" data-dismiss="modal">&times;</a>
                                <h5 class="modal-title"><label style="font-size:medium;">Ponencia</label></h5>
                            </div>
                            <div class="modal-body" id="myModalBodyDiv1">
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="hiddenAlergiaId" />
                <!--Terminamos el modal de eliminacion-->
            </div>
        </div>
    </div>
}

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/toastr.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/Validate/PresentacionPonencias/validate-presentacion-ponencias-form.js"></script>


    <script>

        var AddEliminar = function (id) {

            var url = "/digitalcv/PresentacionConferencias/GetPresentacionPonencia?idPonencia=" + id;

            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");

            })

        };

        $(document).ready(function () {
            var oTable;

            BindDataTable();

            function BindDataTable() {

                if ($.fn.DataTable.isDataTable('#tblPonencias')) {
                    oTable.Draw();
                }
                else {
                    oTable = $('#tblPonencias').DataTable({

                        "bServerSide": true,
                        "sAjaxSource": '/digitalcv/PresentacionConferencias/GetPresentacionesPonencias',
                        "fnServerData": function (sSource, aoData, fnCallback) {
                            $.ajax({
                                type: "Get",
                                data: aoData,
                                url: sSource,
                                success: fnCallback
                            })
                        },
                        "pageLength": 10,
                        "paging": true,
                        "language": {

                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        },
                        "dataSrc": "",
                        "columns": [

                            { "data": "strNombre" },
                            { "data": "strLugarInstitucionPresento" },
                            {
                                "data": "id",
                                "render": function (id, type, full, meta) {

                                    return '<a href="#" onclick="AddEliminar(' + id + ')"><i class="btn btn-sm btn-danger glyphicon glyphicon-remove"></i></a>'
                                }
                            },
                        ]
                    });
                }
            }

        })

    </script>
}

