@using AppDigitalCv.Security
@model AppDigitalCv.ViewModels.ParticipacionDocenteVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "ParticipacionDocente", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="bs-container" style="min-height:960px;">
        <section class="content-header">
            <h1>
                Participación Docente
                <small>(Agregar)</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
                <li> <a href="#">Formación</a></li>
                <li class="active">Participación Docente</li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h5 class="box-title">
                            <label class="text-success emailtitleletter">
                                <i class="text-success fa fa-graduation-cap"></i>
                                @SessionPersister.AccountSession.NombreCompleto
                            </label>&nbsp;
                        </h5>
                    </div>
                    <div class="box-body">
                        <div class="form-horizontal">
                            <div class="col-lg-6">
                                <div class="form-group-sm">
                                    Nombre del Evento:@Html.TextBoxFor(model => model.StrEvento, htmlAttributes: new { @class = "form-control input-sm", title = "Ingresa el nombre del evento", placeholder = "Ingresa el nombre del evento", required = "required", id = "StrEvento", pattern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$" })
                                </div>
                                <div class="form-group-sm">
                                    Tipo de Evento:@Html.TextBoxFor(model => model.StrTipoEvento, htmlAttributes: new { @class = "form-control input-sm", id = "StrTipoEvento", title = "Tipo de Evento", required = "required", placeholder = "Ingresa el tipo del evento", pattern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$" })
                                </div>
                                <div class="form-group-sm">
                                    Participación:@Html.TextBoxFor(model => model.StrParticipacion, htmlAttributes: new { @class = "form-control input-sm", id = "StrParticipacion", title = "Tipo de Participacion", required = "required", placeholder = "Ingresa el tipo de participación", pattern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$" })
                                </div>
                                <div class="form-group-sm">
                                    ¿El Evento Fue Ponencia?
                                    <br />
                                    Si: @Html.RadioButtonFor(model => model.BitPonencia, "Si", new { id = "si", required = "" })
                                    No: @Html.RadioButtonFor(model => model.BitPonencia, "No", new { id = "si", required = "" })
                                </div>
                                <div class="form-group-sm">
                                    Nombre de la Ponencia:@Html.TextBoxFor(model => model.StrNombrePonencia, htmlAttributes: new { @class = "form-control input-sm", id = "StrNombrePonencia", title = "Tipo de Participación", required = "required", placeholder = "Ingresa el tipo de participación", pattern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$" })
                                </div>
                            </div>
                            <div class="col-lg-6">

                                <div class="form-group-sm">
                                    Nombre de la Institución o Empresa:@Html.TextBoxFor(model => model.StrNombreInstitucionEmpresa, htmlAttributes: new { @class = "form-control input-sm", id = "StrNombreInstitucionEmpresa", title = "Nombre de la Institución o Empresa ", required = "required", placeholder = "Ingresa el nombre de la empresa o institución", pattern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$" })
                                </div>
                                <div class="form-group-sm">
                                    Lugar:@Html.TextBoxFor(model => model.StrLugar, htmlAttributes: new { @class = "form-control input-sm", id = "StrLugar", title = "Lugar donde se presento la ponencia ", required = "required", placeholder = "Ingresa el lugar", pattern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$" })
                                </div>
                                <div class="form-group-sm">
                                    Fecha:@Html.TextBoxFor(model => model.DteFecha, htmlAttributes: new { @class = "form-control input-sm", id = "DteFecha", title = "Fecha de la Ponencia ", required = "required", placeholder = "Ingresa la Fecha", type = "date" })
                                </div>
                                <br />
                                <br />
                                <br />
                                <div class="form-group-sm">
                                    <input type="submit" value="Guardar" class="btn btn-success" id="btnEnviar" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts
{
    <script src="~/Scripts/jquery-2.1.4.min.js?v=1"></script>
    <script src="~/Scripts/toastr.min.js?v=1"></script>
    <script src="~/Scripts/Validate/ParticipacionDocente/validate-participacion-docente-form.js"></script>
}
