@using AppDigitalCv.Security
@model  AppDigitalCv.ViewModels.EstadoSaludVM
@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "myForm", id = "myForm" }))
{
    @Html.AntiForgeryToken()
    <div class="bs-container content" style="min-height:960px;">
        <section class="content-header">
            <h1>
                Estado de Salud
                <small>(Agregar)</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
                <li> <a href="#">Agregar</a></li>
                <li class="active">Estado de Salud</li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h5 class="box-title">
                            <label class="text-success">
                                <i class="text-success fa fa-heartbeat"></i>
                                @SessionPersister.AccountSession.Email
                            </label>
                        </h5>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-inline">
                            <div class="form-group">
                                Padece Alguna (s) Enfermedad Crónica?
                                <input type="radio" id="rdbSi" name="seleccion" value="SI " class="custom-control-input"><label for="si">SI</label>
                                <input type="radio" id="rdbNo" name="seleccion" value="NO" class="custom-control-input" checked><label for="no">NO</label>

                            </div>
                            <div class="form-group" id="containerEnfermedades" style="display:none;">
                                <label id="TituloEnfermedad" class="text-muted">Selecciona la Enfermedad</label>
                                @Html.DropDownList("Enfermedades", null, htmlAttributes: new { @class = "form-control input-sm", id = "Enfermedades" })
                                @*@Html.ValidationMessageFor(model => model.IdPais, "", new { @class = "text-danger" })*@
                            </div>
                            <div class="form-group" id="containerOtra" style="display:none">
                                <input type="checkbox" id="otra" value="Otra Enfermedad"/>Otra Enfermedad
                                <input type="text" id="txtOtraEnfermedad" placeholder="Otra Enfermedad" class="form-control input-sm" />
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    Selecciona tu Tipo de Sangre:
                                    @Html.DropDownList("TipoSangre", null, htmlAttributes: new { @class = "form-control input-sm", id = "TipoSangre" })
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<link href="~/Content/toastr.min.css" rel="stylesheet" />
@section scripts{

    <script src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#myForm input').on('change', function () {
                //alert($('input[name=si]:checked', '#myForm').val());
            
                var valor = $('input[name=seleccion]:checked', '#myForm').val();
               
                if (valor.trim()==="SI") {
                    $('#containerEnfermedades').show();
                    $('#containerOtra').show();
                }
                if (valor.trim() === "NO") {
                    $('#containerEnfermedades').hide();
                    $('#containerOtra').hide();
                }
                    
                
            });


            

            //
            //$('input[type=radio][name=rdbSi]').change(function ()
            //{
            //    $.ajax({
            //        async: true,
            //        url: '/EstadoSalud/Index',
            //        contentType: 'application/json;charset=utf-8',
            //        data:'', //'{idPersonal:' + JSON.stringify(idPersonal) + '}',
            //        method: 'post',
            //        dataType: 'json',
            //        success: function (data) {
            //            toastr.success("La información fue Eliminada Correctamente");
            //           // $('#tagCurp').remove();
            //           // $('#tagAddDocumentos').show();
            //        },
            //        error: function (err) {
            //            toastr.error('Error No se pudo eliminar el archivo correctamente');
            //        }
            //    });
            //});

        });
    </script>
}