@model AppDigitalCv.ViewModels.ExperienciaLaboralInternaVM
@using AppDigitalCv.Security
    <noscript>
        <meta http-equiv="refresh" content="0;URL=@Url.Action("NoScript","Error")" />
    </noscript>
<div>
    <form id="myForm" enctype="multipart/form-data">

        @Html.HiddenFor(model => model.id, new { id = "id" })
        @Html.HiddenFor(model => model.idPersonal)

        <div class="bs-container">

            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
            </div>
            <div class="row">
                <div class="form-group col-lg-7">
                    <div class="form-group">
                        <label>Actividades Desempeñadas:</label>
                        @Html.TextBoxFor(model => model.strActividadDesempeñada, new { @class = "form-control input-sm", id = "actividadDesempeñada" })
                    </div>
                    <div class="">
                        <a href="#" id="btnEnviar" class="btn btn-sm btn-success"><span>Actualizar</span></a>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>


<script>

     $("#actividadDesempeñada").bind('keypress', function (e) {
        var regex = new RegExp("^[a-záéíóúñA-ZÁÉÍÓÚÑ,. ]+$");
        var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (!regex.test(key)) {
            toastr.warning("Solo se Admiten Cadenas de Texto.", "Digital-Cv dice", { timeOut: 1000, closeButton: true });
            e.preventDefault();
            return false;
        }
    });

    $(document).ready(function () {

        $("#btnEnviar").click(function () {


            var ExperienciaLaboralInternaVM = {};
            var IdPersonal = @SessionPersister.AccountSession.IdPersonal;

            ExperienciaLaboralInternaVM.IdPersonal = IdPersonal;
            ExperienciaLaboralInternaVM.id = $('#id').val();

            ExperienciaLaboralInternaVM.strActividadDesempeñada = $('#actividadDesempeñada').val();

            $.ajax({
                type: "POST",
                url: "/digitalcv/ExperienciaLaboralInterna/EditExperiencia",
                data: { experienciaLaboralInternaVM: ExperienciaLaboralInternaVM},
                success: function () {
                    $("#myModal1").modal("hide");
                    window.location.href = "/digitalcv/ExperienciaLaboralInterna/Create";
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(textStatus);
                    console.log(textStatus);

                }
            })
        });
    });
</script>


