@using AppDigitalCv.Security
@model AppDigitalCv.ViewModels.EmergenciaViewModel

@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="bs-container" style="min-height:960px;">
        <section class="content-header">
            <h1>
                Datos de Contacto de Emergencia
                <small>(Agregar)</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
                <li> <a href="#">Datos de Contacto</a></li>
                <li class="active">Emergencia</li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h5 class="box-title">
                            <label class="text-success emailtitleletter">
                                <i class="text-success fa fa-graduation-cap"></i>
                                @SessionPersister.AccountSession.NombreCompleto
                            </label>&nbsp;
                        </h5>
                    </div>
                    <div class="box-body">
                        <div class="form-horizontal">
                            <div class="col-lg-6">
                                <div class="form-group-sm">
                                    Nombre del Familiar:@Html.TextBoxFor(model => model.StrNombre, htmlAttributes: new { @class = "form-control input-sm", title = "Ingresa el nombre del familiar", placeholder = "Ingresa el nombre del familiar completo", required = "required", id = "Nombre", pattern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$" })
                                </div>
                                <div class="form-group-sm">
                                    Parentesco:@Html.DropDownList("IdParentesco", null, htmlAttributes: new { @class = "form-control input-sm", id = "IdParentesco", title = "Selecciona el Parentesco", required = "" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group-sm">
                                    Telefono:@Html.TextBoxFor(model => model.StrTelefono, null, htmlAttributes: new { @class = "form-control input-sm", title = "Ingresa el telefono del familiar", placeholder = "Ingresa el telefono del familiar completo", type = "Number", required = "", id = "Telefono" })
                                </div>
                                <div class="form-group-sm">
                                    Direccion Completa:@Html.TextBoxFor(model => model.StrDireccion, htmlAttributes: new { @class = "form-control input-sm", title = "Ingresa la dirección completa del familiar", placeholder = "Ingresa la dirección completa del familiar", required = "required", id = "Direccion", pattern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ0-9.# ]+$" })
                                </div>
                                <br />
                            </div>
                            <div class="col-lg-1">
                                <div class="form-group-sm">
                                    <input type="submit" value="Guardar" class="btn btn-sm btn-success" id="btnGuardar" />
                                </div>
                            </div>
                       
                            <br />
                            <div class="form-group-sm">
                                <!-- Agregamos la tabla de forma dinamica  style="display:none" -->
                                <div class="form-group-sm" id="addTable">
                                    <br />
                                    <table id="tblEmergencias" border="1" style="width: 100%; border:solid 1px #428BCA; border-collapse: collapse;" class="table table-hover">
                                        <thead class="table table table-condensed table-bordered table-responsive table-hover" style="color:white; background-color:#428BCA; font-size:10px;">
                                            <tr>

                                                <th>Nombre</th>
                                                <th>Teléfono</th>
                                                <th>Dirección</th>
                                                <th>Editar</th>
                                                <td>Eliminar</td>

                                            </tr>
                                        </thead>
                                        <tbody id="tblBody"></tbody>
                                    </table>
                                    <!-- Establecemos el Modal que se va a presentar cuando demos click en la edicion de los datos-->
                                    <div class="modal fade" id="myModal1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header" style="background-color:#3C8DBC;color:white;">
                                                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                                                    <h5 class="modal-title"><label style="font-size:medium;">Contacto de Emergencia</label></h5>
                                                </div>
                                                <div class="modal-body" id="myModalBodyDiv1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="hiddenFamiliarId" />
                                    <!--Terminamos el modal de eliminacion-->
                                </div>
                                <!--Fin de la configuración de la tabla-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/toastr.min.js"></script>
<script src="~/Scripts/Validate/ContactoEmergencia/valida-contacto-emergencia-regExp.js"></script>
<script src="~/Scripts/Validate/ContactoEmergencia/validate-contacto-emergencia-form.js"></script>
<script src="~/Scripts/Validate/Block/validate-block-click.js"></script>
@section scripts
{
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>
        var AddEditar = function (IdEmergencia) {

            var url = "/ContactoEmergencia/AddEditDatosContactoEmergencia?idEmergencia=" + IdEmergencia;

            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");

            })

        };
        var AddDelete = function (IdEmergencia) {

            var url = "/ContactoEmergencia/DeleteDatosContactoEmergenciaId?idEmergencia=" + IdEmergencia;

            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");

            })

        };

        $(document).ready(function () {

            var oTable;
            BindDataTable();

            function BindDataTable() {

                if ($.fn.DataTable.isDataTable('#tblEmergencias')) {
                    oTable.Draw();
                }
                else {

                    oTable = $('#tblEmergencias').DataTable({
                        "bServerSide": true,
                        "sAjaxSource": '/ContactoEmergencia/GetDatosEmergenciaTable',
                        "fnServerData": function (sSource, aoData, fnCallback) {
                            $.ajax({
                                type: "Get",
                                data: aoData,
                                url: sSource,
                                success: fnCallback
                            })
                        },
                        "pageLength": 5,
                        "language": {

                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        },
                        "dataSrc": " ",
                        "columns": [

                            { "data": "StrNombre" },
                            { "data": "StrTelefono" },
                            { "data": "StrDireccion" },
                            {
                                "data": "IdEmergencia",
                                "render": function (IdEmergencia, type, full, meta) {

                                    return '<a href="#" onclick="AddEditar(' + IdEmergencia + ')"><i class="btn btn-sm btn-success fa fa-pencil-square-o"></i></a>'
                                }
                            },
                            {
                                "data": "IdEmergencia",
                                "render": function (IdEmergencia, type, full, meta) {

                                    return '<a href="#" onclick="AddDelete(' + IdEmergencia + ')"><i class="btn btn-sm btn-google glyphicon glyphicon-trash"></i></a>'
                                }
                            },
                        ]
                    });
                }
            }
        })
    </script>
}
