@using AppDigitalCv.Security


@{
                /**/

                ViewBag.Title = "Create";
                Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="bs-container content" style="min-height:960px;">
    <section class="content-header">
        <h1>
            Asociación
            <small>(Agregar)</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
            <li> <a href="#">Agregar</a></li>
            <li class="active">Asociación</li>
        </ol>
    </section>
    <br />
</div>        
        
}

