@using AppDigitalCv.Security
@model AppDigitalCv.ViewModels.EmergenciaViewModel

@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="bs-container content" style="min-height:960px;">
        <section class="content-header">
            <h1>
                Datos de Contacto de Emergencia
                <small>(Agregar)</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
                <li> <a href="#">Datos de Contacto</a></li>
                <li class="active">Emergencia</li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h5 class="box-title">
                            <label class="text-success emailtitleletter">
                                <i class="text-success fa fa-heartbeat"></i>
                                @SessionPersister.AccountSession.Nombre
                            </label>
                        </h5>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-horizontal">
                            <div class="form-group-sm">
                                Nombre del Familiar:@Html.TextBoxFor(model => model.StrNombre, htmlAttributes: new { @class = "form-control input-sm", title = "Ingresa el nombre del familiar", placeholder = "Ingresa el nombre del familiar completo" })
                            </div>
                            <div class="form-group-sm">
                                Parentesco:
                            </div>
                            <div class="form-group-sm">
                                Telefono:@Html.TextBoxFor(model => model.StrTelefono, null, htmlAttributes: new { @class = "form-control input-sm", title = "Ingresa el telefono del familiar", placeholder = "Ingresa el telefono del familiar completo" })
                            </div>
                            <div class="form-group-sm">Estado:</div>
                            <div class="form-group-sm">Municipio:</div>
                            <div class="form-group-sm">Localidad:</div>
                            <div class="form-group-sm">
                                <input type="submit" value="Guardar" class="btn btn-sm btn-success" />
                            </div>
                        </div>
                        
                    </div>
            </div>
        </div>
    </div>
    </div>
}

