@model AppDigitalCv.ViewModels.IdiomasVM
@using AppDigitalCv.Security

<div>

    <form id="myForm">
        @Html.HiddenFor(m => m.id, new { @class = "form-control input-sm", id = "id" })
        @Html.HiddenFor(m => m.idDocumento)
        <div class="form-inline">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3">
                        <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
                    </div>
                    <div class="col-lg-3">
                        ¿Deseas <strong>Eliminar</strong> este registro realmente?
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-16 col-xs-12">
                        <ul class="todo-list">
                            <li class="list-unstyled">
                                <label>Idioma: </label>
                                @Html.DisplayFor(m => m.Idioma.StrDescripcion)
                            </li>
                            <li class="list-unstyled">
                                <label>Certificación: </label>
                                @Html.DisplayFor(m => m.NivelConocimiento.strValor)
                            </li>                  
                        </ul>
                        <br />
                        <div class="form-group">
                            <a href="#" id="btnEnviar">
                                <i class="btn btn-sm btn-danger">Eliminar</i>
                            </a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>


    </form>
</div>

<script>
        $(document).ready(function () {
             
            $("#btnEnviar").click(function () {
                
            $("#loaderDiv").show();

                 var myformdat = $("#myForm").serialize();
               
            $.ajax({

                type: "POST",
                url: "/Idioma/DeleteIdiomaById",
                data: myformdat,
                success: function () {
                    $("#loaderDiv").hide();
                    $("#myModal").modal("hide");
                    window.location.href = "/Idioma/Create";

                }

            })
        })

        })
</script>
