<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="bdGestionDocenteEntities" connectionString="metadata=res://*/AppDigitalCvEntities.csdl|res://*/AppDigitalCvEntities.ssdl|res://*/AppDigitalCvEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-D667N6IM\FAZURP;initial catalog=bdGestionDocente_v2;user id=sa;password=8x7a4swi;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
