<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="bdGestionDocenteEntities" connectionString="metadata=res://*/AppDigitalCvEntities.csdl|res://*/AppDigitalCvEntities.ssdl|res://*/AppDigitalCvEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAR-12\SQLEXPRESS;initial catalog=bdGestionDocente;persist security info=True;user id=sa;password=Sistemas410;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>