<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="bdGestionDocenteEntities" connectionString="metadata=res://*/AppDigitalCvEntities.csdl|res://*/AppDigitalCvEntities.ssdl|res://*/AppDigitalCvEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAR-12\SQLEXPRESS;initial catalog=bdGestionDocente;user id=sa;password=Sistemas410;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
