@using AppDigitalCv.Business;
@using AppDigitalCv.Domain;
@using AppDigitalCv.Security;

<aside class="control-sidebar control-sidebar-dark">
    @* BEGIN Tabs *@
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-hourglass"></i></a></li>
        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    @* END Tabs *@
    <div class="tab-content">
        @* BEGIN Home Tab *@
        <div class="tab-pane active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Control de Progresos</h3>
            @*<ul class="control-sidebar-menu">
            <li>
                <a href="javascript::;">
                    <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                    <div class="menu-info">
                        <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                        <p>Will be 23 on April 24th</p>
                    </div>
                </a>
            </li>
        </ul>*@

            <h3 class="control-sidebar-heading">Porcentaje de PRODEP</h3>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript::;">
                        <h4 class="control-sidebar-subheading">
                            % Completado
                            @{
                                ProgresoProdepBusiness progresoProdep = new ProgresoProdepBusiness();

                                if (SessionPersister.AccountSession != null)
                                {
                                    ViewBag.Progreso = new List<ProgresoProdepDomainModel>(progresoProdep.GetProgresoByPersonalBreak(SessionPersister.AccountSession.IdPersonal));
                                    if (ViewBag.Progreso.Count == 1)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">2.5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 2)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 3)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">7.5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 4)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">10%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 5)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">12.5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 6)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">15%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 7)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">17.5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 8)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">20%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 9)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">22.5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 10)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">25%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 11)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">27.5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 12)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">30%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 13)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">32.5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 14)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">35%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 15)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">37.5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 16)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">40%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 17)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">42.5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 18)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">45%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 19)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">47.5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 20)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">50%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 21)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">52.5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 22)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">55%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 23)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">57.5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 24)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">60%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 25)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">62.5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 26)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">65%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 27)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">67.5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 28)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">70%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 29)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">72.5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 30)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">75%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 31)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">77.5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 32)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">80%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 33)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">82.5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 34)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">85%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 35)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">87.5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 36)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">90%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 37)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">92.5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 38)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">95%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 39)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">97.5%</span>
                                        </span>
                                    }
                                    else if (ViewBag.Progreso.Count == 40)
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">100%</span>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="pull-right-container">
                                            <span class="label label-danger pull-right">0%</span>
                                        </span>
                                    }
                                }
                                else
                                {
                                    <span class="pull-right-container">
                                        <span class="label label-danger pull-right">0%</span>
                                    </span>
                                }
                            }
                        </h4>
                        @{
                            if (SessionPersister.AccountSession != null)
                            {
                                if (ViewBag.Progreso.Count == 1)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 2.5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 2)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 3)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 7.5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 4)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 10%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 5)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width:12.5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 6)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 15%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 7)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 17.5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 8)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 20%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 9)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 22.5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 10)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 25%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 11)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 27.5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 12)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 30%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 13)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 32.5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 14)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 35%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 15)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 37.5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 16)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 40%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 17)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 42.5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 18)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 45%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 19)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 47.5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 20)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 50%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 21)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 52.5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 22)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 55%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 23)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 57.5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 24)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 60%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 25)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 62.5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 26)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 65%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 27)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 67.5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 28)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 70%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 29)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 72.5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 30)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 75%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 31)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 77.5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 32)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 80%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 33)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 82.5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 34)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 85%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 35)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 87.5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 36)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 37)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 92.5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 38)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 39)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 97.5%"></div>
                                    </div>
                                }
                                else if (ViewBag.Progreso.Count == 40)
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                    </div>
                                }
                                else
                                {
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 0"></div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 0"></div>
                                </div>
                            }

                        }
                    </a>
                </li>
            </ul>
        </div>
        @* END Home Tab *@
        <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
        @* BEGIN Settings Tab *@
        <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
                <h3 class="control-sidebar-heading">General Settings</h3>

                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Report panel usage
                        <input type="checkbox" class="pull-right" checked>
                    </label>

                    <p>
                        Some information about this general settings option
                    </p>
                </div>
            </form>
        </div>
        @* END Settings Tab *@
    </div>
</aside>
@* Add the sidebar's background. This div must be placed immediately after the control sidebar *@
<div class="control-sidebar-bg"></div>