<option value=""> -- Seleccionar -- </option>
@if (ViewBag.idProgramaEductivo != null)
{
    foreach (var item in ViewBag.idProgramaEductivo)
    {
        <option value="@item.Value"> @item.Text </option>
    }
}


