<option value=""> -- Seleccionar -- </option>
@if (ViewBag.idTipoContrato != null)
{
    foreach (var item in ViewBag.idTipoContrato)
    {
        <option value="@item.Value"> @item.Text </option>
    }
}

