@model AppDigitalCv.ViewModels.PersonalAsociacionesVM
@using AppDigitalCv.Security

<div>
    <form id="myForm">
        @Html.HiddenFor(m => m.IdPersonal, new { @class = "form-control input-sm", id = "IdPersonal" })
        @Html.HiddenFor(m => m.IdAsociacion, new { @class = "form-control input-sm", id = "IdAsociacion" })
        <div class="form-inline">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3">
                        <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
                    </div>
                    <div class="col-lg-3">
                        ¿Deseas <strong>Eliminar</strong> este registro realmente?
                    </div>
                    <div class="col-lg-6">
                        <label>Fecha de la Incorporacion</label>
                        @Html.TextBoxFor(m => m.DteFecha, new { @class = "form-control input-sm", @placeholder = "Fecha", @disabled = "disabled" })
                        <label>Participacion Desempeñada</label>
                        @Html.TextBoxFor(m => m.StrTipoParticipacion, new { @class = "form-control input-sm", @placeholder = "Fecha", @disabled = "disabled" })
                        <a href="#" id="btnSubmit">
                            <i class="btn btn-sm btn-google glyphicon glyphicon-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            $("#loaderDiv").show();

            var myformdata = $("#myForm").serialize();

            $.ajax({

                type: "POST",
                url: "/PersonalAsociaciones/EliminarAsociacionPersonal",
                data: myformdata,
                success: function () {
                    $("#loaderDiv").hide();
                    $("#myModal").modal("hide");
                    window.location.href = "/PersonalAsociaciones/Create";

                }

            })
        })

    })


</script>
