@using AppDigitalCv.Security
@model  AppDigitalCv.ViewModels.PersonalAsociacionesVM

@{
    ViewBag.Title = "Registrar una Asociación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="bs-container" style="min-height:960px;">
        <section class="content-header">
            <h1>
                Asociación
                <small>(Agregar)</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
                <li> <a href="#">Agregar</a></li>
                <li class="active">Asociación</li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h5 class="box-title">
                            <label class="text-success emailtitleletter">
                                <i class="text-success fa fa-graduation-cap"></i>
                                @SessionPersister.AccountSession.NombreCompleto
                            </label>&nbsp;
                            @*<a href="@Url.Action("GetDatosCompetenciasTI","CompetenciaTi")" class="linkfacebookletter">&nbsp;<i class="fa fa-tag"></i><span>Editar Competencias en TI</span> </a>*@
                        </h5>
                    </div>
                    <div class="box-body">
                        <div class="form-inline">
                            <div class="form-group">
                                Pertenece a Alguna Asociación?
                                <input type="radio" id="rdbSi" name="seleccion" value="SI " class="custom-control-input"><label for="si">SI</label>
                                <input type="radio" id="rdbNo" name="seleccion" value="NO" class="custom-control-input" checked><label for="no">NO</label>
                                &nbsp;
                                <a href="@Url.Action("Create","Asociacion")" class="social-auth-links"><i class="fa fa-plus"></i>"Agregar Nueva Asociación"</a>&nbsp;
                            </div>
                            <br />
                            <div class="form-group">
                                Seleccione su Asociación:@Html.DropDownList("IdAsociacion", null, htmlAttributes: new { @class = "form-control input-sm", id = "IdAsociacion", title = "Selecciona una Asociación", required = "" })
                                Empresa a la que pertenece la asociación:@Html.DropDownList("TipoEmpresa", null, htmlAttributes: new { @class = "form-control input-sm", id = "TipoEmpresa", title = "Selecciona un Tipo de Empresa", required = "" })
                            </div>
                            <br />
                            <div class="form-group">
                                <br />
                                Fecha de Ingreso:@Html.TextBoxFor(model => model.DteFecha, null, htmlAttributes: new { @class = "form-control input-sm", type = "date", title = "Selecciona una Fecha", required = "" })
                            </div>
                            <div class="form-group">
                                <br />
                                Describa el Cargo que Desempeñó:@Html.TextBoxFor(model => model.StrTipoParticipacion, null, htmlAttributes: new { @class = "form-control input-sm", title = "Escribe el tipo de Participación", placeholder = "Escribe tu Participación", id = "Participacion", required = "", pattern = "^[a-záéíóúñA-ZÁÉÍÓÚÑ ]+$" })
                            </div>
                            <br />
                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-sm btn-success" id="btnGuardar" />

                            </div>
                            <br />
                        </div>
                        <!--inicio y configuración de la tabla-->
                        <!--fin de la tabla-->
                        <div class="form-group">
                            <!-- Agregamos la tabla de forma dinamica  style="display:none" -->
                            <div class="form-group" id="addTable">
                                <br />
                                <table id="tblTipoAsociacion" border="1" style="width: 100%; border:solid 1px #428BCA; border-collapse: collapse;" class="table table-hover">
                                    <thead class="table table table-condensed table-bordered table-responsive table-hover" style="color:white; background-color:#428BCA; font-size:10px;">
                                        <tr>

                                            <th>Fecha de Participación</th>
                                            <th>Tipo de Participación</th>
                                            <th>Eliminar Asociación</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblBody"></tbody>
                                </table>
                                <!-- Establecemos el Modal que se va a presentar cuando demos click en la edicion de los datos-->
                                <div class="modal fade" id="myModal1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color:#3C8DBC;color:white;">
                                                <a href="#" class="close" data-dismiss="modal">&times;</a>
                                                <h5 class="modal-title"><label style="font-size:medium;">Eliminar la participación</label></h5>
                                            </div>
                                            <div class="modal-body" id="myModalBodyDiv1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="hiddenAsociacionId" />
                                <!--Terminamos el modal de eliminacion-->
                                <!--Terminacion de la tabla -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/Validate/Asociaciones/validate-asociaciones-form.js"></script>
<script src="~/Scripts/Validate/Asociaciones/validate-asociaciones-regExp.js"></script>

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />


@section Scripts
{
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"
            integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw="
            crossorigin="anonymous"></script>
    <script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>

        var AddDelete = function (IdAsociacion) {

            var url = "/PersonalAsociaciones/GetAsociacionByIdAsociacion?IdAsociacion=" + IdAsociacion;

            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");

            })

        };

        $(document).ready(function () {

            var oTable;


            $("#TipoEmpresa").prop("disabled", true);
            $("#IdAsociacion").change(function () {
                var idAsociacion = $(this).val();
                $.ajax({
                    type: "Post",
                    url: "/PersonalAsociaciones/ConsultarTipoEmpresaByIdAsociacion?idAsociacion=" + idAsociacion,
                    contentType: "html",
                    success: function (response) {
                        $("#TipoEmpresa").prop("disabled", false);
                        $("#TipoEmpresa").empty();
                        $("#TipoEmpresa").append(response);
                    },
                    error: function (error) {

                    }
                });
            });



            BindDataTable();

            function BindDataTable() {

                if ($.fn.DataTable.isDataTable('#tblTipoAsociacion')) {
                    oTable.Draw();
                }
                else {
                    oTable = $('#tblTipoAsociacion').DataTable({
                        "bServerSide": true,
                        "sAjaxSource": '/PersonalAsociaciones/GetDatosPersonalAsociacionTable',
                        "fnServerData": function (sSource, aoData, fnCallback) {
                            $.ajax({
                                type: "Get",
                                data: aoData,
                                url: sSource,
                                success: fnCallback
                            })
                        },
                        "pageLength": 5,
                        "language": {

                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        },
                        "dataSrc": "",
                        "columns": [


                            { "data": "DteFecha" },
                            { "data": "StrTipoParticipacion" },
                            //{ "data": "StrNombrePremio" },
                            //{ "data": "DteFechaObtencionPremio" },


                            //{ "data": "DteFechaInicioPremio" },
                            //{ "data": "DteFechaFinPremio" },

                            {
                                "data": "IdAsociacion",
                                "render": function (IdAsociacion, type, full, meta) {

                                    return '<a href="#" onclick="AddDelete(' + IdAsociacion + ')"><i class="btn btn-sm btn-google glyphicon glyphicon-trash"></i></a>'
                                }
                            },
                        ]
                    });
                }
            };



        });
    </script>

}


