@using AppDigitalCv.Security
@{
    ViewBag.Title = "EditarDatosDireccion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="bs-container" style="min-height:960px;">
        <section class="content-header">
            <h1>
                Editar Datos de Direccion
                <small>(Editar)</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
                <li> <a href="#"> Editar</a></li>
                <li class="active"> Datos de Direccion </li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h5 class="box-title">
                            <label class="text-success emailtitleletter">
                                <i class="text-success fa fa-graduation-cap"></i>
                                @SessionPersister.AccountSession.NombreCompleto
                            </label>&nbsp;
                        </h5>
                    </div>
                    <div class="box-body">
                        <div role="form">
                            <table id="myDataTableDatosContacto" class="table table-bordered table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th><i class="fa fa-user"></i>Calle</th>
                                        <th><i class="fa fa-tag"></i>No. Interior</th>
                                        <th><i class="fa fa-tag"></i>No. Exterior</th>
                                        <th><i class="fa fa-check-square-o"></i>Colonia</th>
                                        <th style="display:none;"><i class="glyphicon glyphicon-pencil"></i>Identificador</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<link href="~/Scripts/jtable/themes/basic/jtable_basic.css" rel="stylesheet" />
@section scripts{

    <script src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/plugins/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/js/plugins/icheck/icheck.min.js"></script>
    <script src="~/Content/js/plugins/inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {

            $('#myDataTableDatosContacto').DataTable({
                "language": {

                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                "ajax": {
                    "url": '/Direccion/ConsultarDatosDireccion/',
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": ""
                },
                "columns": [

                    { "data": "StrCalle" },
                    { "data": "StrNumeroInterior" },
                    { "data": "StrNumeroExterior" },
                    { "data": "IdColonia" },
                    {
                        "data": "IdDatosContacto",
                        "render": function (IdDireccion, type, full, meta) {
                            debugger
                            return '<a href="#" onclick="AddEditDatosContacto(' + IdDireccion + ')"><i class="glyphicon glyphicon-pencil"></i></a>'
                        }
                    }
                ]
            });

        });
    </script>
}
