@model AppDigitalCv.ViewModels.CapacitacionesRecibidasVM
@using AppDigitalCv.Security
    <noscript>
        <meta http-equiv="refresh" content="0;URL=@Url.Action("NoScript","Error")" />
    </noscript>
<div>
    <form id="myForm">
        <div class="bs-container">
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
                </div>
                <div class="col-md-7 col-xs-11 col-sm-5 col-lg-7">
                        @Html.HiddenFor(model => model.id)
                        @Html.HiddenFor(model => model.idDocumento)
                    <ul class="todo-list">
                        <li class="list-unstyled">
                            <label>Nombre de la Capacitación:</label>
                            @Html.DisplayFor(model => model.strNombre)
                        </li>
                        <li class="list-unstyled">
                            <label>Tipo de Capacitación:</label>
                            @Html.DisplayFor(model => model.TipoCapacitacion.strValor)
                        </li>
                    </ul>    
                    <br />
                    <div class="form-group">
                        <input type="button" class="btn btn-sm btn-danger" value="Eliminar" id="btnEnviar" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>

    $(document).ready(function () {

        $("#btnEnviar").click(function () {

            let CapacitacionesRecibidasVM = {};

            CapacitacionesRecibidasVM.id = $('#id').val();
            CapacitacionesRecibidasVM.idDocumento = $('#idDocumento').val();

            $.ajax({
                type: "post",
                url: "/digitalcv/CapacitacionesRecibidas/DeleteCapacitacionRecibida",
                data: { capacitacionesRecibidasVM: CapacitacionesRecibidasVM},
                success: function () {
                    window.location.href = "/digitalcv/CapacitacionesRecibidas/Create";
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(textStatus);
                    console.log(textStatus);
                }
            });
        });
    });
</script>

