@model AppDigitalCv.ViewModels.DeportePersonalVM
@using AppDigitalCv.Security
<div>
    <form id="myForm">

        <div class="bs-container">
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
                </div>
                <div class="col-md-7 col-xs-11 col-sm-5 col-lg-7">
                    @Html.HiddenFor(model => model.IdPersonal)
                    @Html.HiddenFor(model => model.IdDeportePersonal)
                    <div class="form-inline">
                        <div class="form-group-sm">
                            Edición de Habitos personales
                        </div>
                        <br />
                        <div class="form-group">
                            Frecuencia de Práctica: @Html.DropDownList("IdFrecuencia", null, htmlAttributes: new { @class = "form-control input-sm", id = "Frecuencia", title = "Selecciona un Deporte" })
                        </div>
                        <br />
                        <br />
                        <div class="form-group">
                            Deporte Prácticado: @Html.TextBoxFor(model => model.DeporteVM.StrDescripcion, new { @class = "form-control input-sm", @placeholder = "Deporte Favorito", disabled = "disabled" })
                        </div>
                        <a href="#" id="btnSubmit" class="btn btn-sm btn-success"><span><i class="fa fa-edit"></i> Actualizar</span></a>                 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9"></div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    
                </div>
            </div>


        </div>


    </form>


</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
<script>

   
    $(document).ready(function () {
       
        
        $("#btnSubmit").click(function () {

            var DeportePersonalVM = {};
            var idPersonal =  @SessionPersister.AccountSession.IdPersonal;
            DeportePersonalVM.idPersonal = idPersonal;
            DeportePersonalVM.IdDeportePersonal = $("#IdDeportePersonal").val();
            DeportePersonalVM.IdFrecuencia = $("#Frecuencia").val();
            debugger;
            //serialización del formaulario
            var myformdata = $("#myForm").serialize();
            $.ajax({
                type: "POST",
                url: "/HabitosPersonales/EditarHabitosPersonales",
                data: { deportePersonalVM: DeportePersonalVM},
                success: function () {
                    $("#myModal1").modal("hide");
                    window.location.href = "/HabitosPersonales/Create";
                }
            })
        });
    });
</script>
