@model AppDigitalCv.ViewModels.DeportePersonalVM
@using AppDigitalCv.Security
<div>
    <form id="myForm">

        <div class="bs-container">
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-3 col-lg-3">
                    <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
                </div>
                <div class="col-lg-3 col-md-3">
                    ¿Deseas <strong>Eliminar</strong> este registro realmente?
                </div>
                <div class="col-md-7 col-xs-11 col-sm-6 col-lg-6">
                    @Html.HiddenFor(model => model.IdPersonal)
                    @Html.HiddenFor(model => model.IdDeportePersonal)
                    <ul class="todo-list">
                        <li class="list-unstyled">
                            <label>Deporte:</label>
                            @Html.DisplayFor(model => model.Deporte.StrDescripcion, new { @class = "form-control input-sm", disabled = "", id = "idDeporte" })
                        </li>                       
                    </ul>
                    <br />
                    <div class="form-group">
                        <input type="button" class="btn btn-danger" value="Eliminar" id="btnEnviar" />
                    </div>
                </div>
            </div>
            
        </div>


    </form>


</div>

<script>

    $(document).ready(function () {
        var valor = true;
        $("#btnEnviar").click(function () {

            

            var DeportePersonalVM = {};
            var idPersonal =  @SessionPersister.AccountSession.IdPersonal;
            DeportePersonalVM.idPersonal = idPersonal;
            DeportePersonalVM.IdDeportePersonal = $("#IdDeportePersonal").val();
            $.ajax({
                type: "POST",
                url: "/digitalcv/HabitosPersonales/EliminarDatosHabitosPersonales",
                data: { deportePersonalVM: DeportePersonalVM},
                success: function () {
                    $("#myModal1").modal("hide");
                    window.location.href = "/digitalcv/HabitosPersonales/Create";
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(textStatus);
                    console.log(textStatus);

                }
            });
        });
    });
</script>