


@model AppDigitalCv.ViewModels.HobbieVM
@using AppDigitalCv.Security
    <noscript>
        <meta http-equiv="refresh" content="0;URL=@Url.Action("NoScript","Error")" />
    </noscript>
<div>
    <form id="myForm" enctype="multipart/form-data">

        @Html.HiddenFor(model => model.id, new { id = "id" })

        <div class="bs-container">

            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <img alt="user Pic" src="~/Imagenes/escudo_uttt.jpg" id="profile-image1" class="product-img img-responsive" width="100" height="70" />
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <ul class="todo-list">
                        <li class="list-unstyled">
                            <label>Seleccione el Hobbie y/o Afición:</label>
                            @Html.DisplayFor(model => model.Hobbies.strValor, null, new { @class = "form-control input-sm", id = "hobbie", disabled = "" })
                        </li>
                        <li class="list-unstyled">
                            <label>Frecuencia con la que lo Practica:</label>
                            @Html.DisplayFor(model => model.Frecuencia.StrDescripcion, null, new { @class = "form-control input-sm", id = "frecuencia", disabled = "" })
                        </li>
                        <li class="list-unstyled">
                            <label>Tiempo en Horas que lo Practica:</label>
                            @Html.DisplayFor(model => model.strTiempoPractica, null, new { @class = "form-control input-sm", id = "tiempoPractica", disabled = "" })
                        </li>
                    </ul>
                    <br />
                    <div class="form-group">
                        <a id="btnSubmit" class="btn btn-sm btn-danger"><span><i class=""></i>Eliminar</span></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script>
    $(document).ready(function ()
    {
        $('#btnSubmit').click(function ()
        {
            let id = $('#id').val();
            let url = "/digitalcv/Hobbie/DeleteHobbie?_id=" + id;

            $.get(url).done(function ()
            {
                window.location.href = "/digitalcv/Hobbie/Create";
            });
        });
    });
</script>