@using AppDigitalCv.Security
@{
    ViewBag.Title = "EditarDatosContacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="bs-container" style="min-height:960px;">
    <section class="content-header">
        <h1>
            Editar Datos de Contactos
            <small>(Editar)</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
            <li> <a href="#"> Editar</a></li>
            <li class="active"> Datos del Contacto </li>
        </ol>
    </section>
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h5 class="box-title">
                        <label class="text-success emailtitleletter">
                            <i class="text-success fa fa-graduation-cap"></i>
                            @SessionPersister.AccountSession.NombreCompleto
                        </label>&nbsp;
                    </h5>
                </div>
                <div class="box-body">
                    <div role="form">
                        <table id="myDataTableDatosContacto" border="1" style="width: 100%; border:solid 1px #428BCA; border-collapse: collapse;" class="table table-hover">
                            <thead class="table table table-condensed table-bordered table-responsive table-hover" style="color:white; background-color:#428BCA; font-size:10px;">

                                <tr>
                                    <th><i class="fa fa-user"></i>&nbsp;Email</th>
                                    <th><i class="fa fa-tag"></i>&nbsp;Institucional</th>
                                    <th><i class="fa fa-check-square-o"></i>&nbsp;Tel. Celular</th>
                                    <th><i class="glyphicon glyphicon-pencil"></i>&nbsp; Editar</th>
                                    <th><i class="glyphicon glyphicon-trash"></i>&nbsp; Eliminar</th>
                                    
                                </tr>
                            </thead>
                        </table>
                        <!-- Establecemos el Modal que se va a presentar cuando demos click en la edicion de los datos-->
                        <div class="modal fade" id="myModal1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color:#3C8DBC;color:white;">
                                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                                        <h5 class="modal-title"><label style="font-size:medium;">Datos de Contacto</label></h5>
                                    </div>
                                    <div class="modal-body" id="myModalBodyDiv1" style="background-color:#FDFDFE;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="hiddenEdicionDatosContactoId" />
                        <!--Terminamos el modal de eliminacion-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>

}
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<link href="~/Scripts/jtable/themes/basic/jtable_basic.css" rel="stylesheet" />
@section scripts{

    <script src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/plugins/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/js/plugins/icheck/icheck.min.js"></script>
    <script src="~/Content/js/plugins/inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>

        var AddEditDatosContacto = function (idPersonal) {
            var url = "/DatosContacto/AddEditDatosContactoId?idPersonal=" + idPersonal;
            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");
            })
        };
        var ShowDeletetDatosContacto = function (idPersonal) {
            var url = "/DatosContacto/GetDeleteDatosContactoId?idPersonal=" + idPersonal;
            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");
            })
        };
        
        $(document).ready(function () {

            $('#myDataTableDatosContacto').DataTable({
                "language": {

                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                "ajax": {
                    "url": '/DatosContacto/ConsultarDatosContacto/',
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": ""
                },
                "columns": [

                    { "data": "MailPersonal" },
                    { "data": "MailInstitucional" },
                    { "data": "TelefonoCelular" },
                    {
                        "data": "IdPersonal",
                        "render": function (idPersonal, type, full, meta) {

                            return '<a href="#" onclick="AddEditDatosContacto(' + idPersonal + ')"><i class="btn btn-sm btn-success fa fa-pencil-square-o"></i></a>'
                        }
                    }
                    ,
                    {
                        "data": "IdPersonal",
                        "render": function (idPersonal, type, full, meta) {

                            return '<a href="#" onclick="ShowDeletetDatosContacto(' + idPersonal + ')"><i class="btn btn-sm btn-google glyphicon glyphicon-trash"></i></a>'
                        }
                    },
                                                     
                    
                ]
            });

        });
    </script>
}
